mixin newsCard(imageSide = 'left', img, title, description, data)
    .newsCard
        if imageSide == 'left'
            img(src=img.src, alt=img.alt).newsCard__img

        .newsCard__body
            h3.title.title--small.newsCard__title= title
            hr.newsCard__divider
            p.text.text--small.newsCard__description= description
            footer.newsCard__footer
                .newsCard__date 
                    img(src="/src/assets/date.svg" alt="Дата новости")
                    span.text.text--superSmall= data
                a(href="#").link Подробнее 

        if imageSide == 'right'
            img(src=img.src, alt=img.alt).newsCard__img